
.box-drop{
    width: 100%;
    margin-top: 3%;
}

@media all and (max-width:760px) {
    .box-drop{
        margin-top: 15px;
    }
}

.box-titre-col{
    padding: 13px 20px;
    align-items: center;
    background: #FF6060;
    border-radius: 10px;
    color: #fff;
    z-index: 10;
    display: flex;
    width: 100%;
    border: 0px;
    justify-content: space-between;
}

.titre-col{
    margin: 0px;
}

.icone-dropdown{
    height: 23px;
    width: 14px;
    animation: rotation 2s;
}

.box-content-col{
    display: none;
    position: relative;
    top: 0%;
    background: #F7F7F7;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 12px;
    padding-bottom: 15px;
    z-index: 1;
}
.box-content-col > p, .box-content-col > ul{
    margin: 0px;
}

.box-titre-col :active > .icone-dropdown{
    transform: rotate(180deg); 
}