.boxeErrorPage{
    color: #FF6060;
    font-family: "Montserrat";
    font-style: normal;
    /* padding: 10% 5% ; */
}

.errorNumber{
    font-size: 288px;
    font-weight: 700;
    line-height: 142%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.errorMessage{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 36px;
}

.link-to-home{
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
}

/*About Page*/
.section-about{
    margin: 0px 100px;
    /* display: flex;
    justify-content: center; */
    /* height: 223px; */
    /* background: url(../assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.png); */
}
.img-sect{
    width: 100%;
    /* background: #000000; */
    /* mix-blend-mode: darken;
    opacity: 0.3; */
    border-radius: 25px;
}

.bx-drp-abt{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 108px;
    color: #ff6060;
}
@media all and (max-width:760px) {
    .bx-drp-abt{
        margin: 0px 0px;
    }
    .section-about {
        margin: 0px 20px;
    }
    .img-sect{
        height: 223px;
    }
    h3{
        font-size: 13px;
    }
    p{
        font-size: 12px;
    }
}