.logement-content{
    margin: 0px 100px;
    color: #FF6060;
}

.box-content-logement{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width:760px) {
    .box-content-logement{
        display: grid;
    }
    .logement-content{
        margin: 0px 20px;
    }
    .box-pict-str{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .box-drop{
        display: block;
        margin-top: 15px;
    }
    .tytle-logement{
        font-size: 18px ! important;
        font-weight: 500;
    }
    .tags{
        padding: 5px 10px;
    }
    .localisation{
        font-weight: 500;
        font-size: 14px ! important;
    }
    .tags{
        font-size: 10px !important;
    }

    .name{
        font-size: 12px !important;
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }
}



.tytle-logement{
    font-size: 36px;
    line-height: 142.6%;
}
.localisation{
    font-size: 18px;
}
.box-tags{
    display: flex;
}
.tags{
    background: #FF6060;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    /* width: 115px; */
    margin-right: 10px;
    padding: 5px 35px;
}
.name{
    font-size: 18px;
    margin-right: 10px;
    height: 52px;
    text-align: right;
    width: 93px;
}
.portrait{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 9px;
}
.dsp-flx{
    display: flex;
}
.stars{
    text-align: right;
}
@media all and (min-width:760px) {
    .box-drop-all{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.first-bx-inf{
    margin-right: 5%;
}
.secd-bx-inf{
    display: contents;
}
.loading-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}